<div><label>Business name</label><br>
  <input size="30" type="text"></div>
<div><label>Address</label><br>
  <input size="30" type="text"></div>
<div><label>City</label><br>
  <input size="30" type="text"></div>
<div><label>State</label><br>
  <input size="30" type="text"></div>
<div><label>Zip code</label><br>
  <input size="10" type="text"></div>
<div><label>Country</label><br>
  <input size="30" type="text"></div>
<div><label>Contact Phone</label><br>
  <input size="30" type="text"></div>
<div><label>Contact Fax</label><br>
  <input size="30" type="text"></div>
