<% provide :title, "Buy it" %>
<h1>Sample application</h1>

<div>
	<h2>Received usernames:</h2>
	username1, username2 ...</p>
</div>

<div>
	<label>Type in different usernames:</label><br>
	<input size="30" type="text">
	<button>Grant access</button>
</div>
<br>
<div>
	<a href="/paypal">Paypal</a>
	<a href="/purchaseorder">Purchase order</a>
</div>
