<% provide :title, "Dashboard" %>
<table border="1" bordercolor="#FFCC00" style="background-color:#FFFFCC" width="90%" cellpadding="3" cellspacing="0">
	<tr>
		<td>App ID</td>
		<td>App Name</td>
		<td>Price</td>
		<td>Author</td>
		<td>Buy Link</td>
		<td>Number of downloads</td>
		<td>Purchase Hits</td>
		<td>Number of purchases</td>
	</tr>

	<tr>
		<td>splunk_facebook</td>
		<td>
			<a href="http://splunk-base.splunk.com/apps/Splunk+for+Facebook">Splunk for Facebook</a>
		</td>
		<td>
			<form>
			  <input type="text" size="2" value="11" />
			  <input type="submit" value="OK" />
			</form>
		</td>
		<td>
			<a href="http://splunk-base.splunk.com/users/nkey">nkey</a>
		</td>
		<td>
			/app/nkey/splunk-for-facebook
		</td>
		<td>59</td>
		<td>19</td>
		<td>19/0</td>
		<td>
			<input type="submit" value="Enable" />
			<input type="submit" value="Delete forever" />
		</td>
	</tr>

	<tr>
		<td>splunk_facebook</td>
		<td>
			<a href="http://splunk-base.splunk.com/apps/Splunk+for+Facebook">Splunk for Facebook</a>
		</td>
		<td>
			<form>
			  <input type="text" size="2" value="15" />
			  <input type="submit" value="OK" />
			</form>
		</td>
		<td>
			<a href="http://splunk-base.splunk.com/users/nkey">nkey</a>
		</td>
		<td>
			/app/nkey/splunk-for-facebook/1
		</td>
		<td>18</td>
		<td>10</td>
		<td>10/0</td>
		<td>
			<input type="submit" value="Disable" />
		</td>
	</tr>

	<a href="/add">Add App</a>
</table>

<!--
<tr>
		<td>splunk_fa_addon_was</td>
		<td>
			<a href="http://splunk-base.splunk.com/apps/Splunk+Forwarder+Appliance+Add-on+for+WebSphere+Application+Server+%28Beta%29">Edit accountSplunk Forwarder Appliance Add-on for WebSphere Application Server (Beta)</a>
		</td>
		<td>
			<form>
			  <input type="text" size="2" value="10" />
			  <input type="submit" value="OK" />
			</form>
		</td>
		<td>
			<a href="http://splunk-base.splunk.com/users/splunksolutions">splunksolutions</a>
		</td>
		<td>
			/app/splunksolutions/splunk-forwarder-appliance-add-on-for-websphere-application-server-beta
		</td>
		<td>54</td>
		<td>30</td>
		<td>20/10<a href="/purchases" target="_blank">(!)</a></td>
		<td>
			<input type="submit" value="Disable" />
		</td>
	</tr>
 -->
