<% provide :title, "Home" %>
<div id="marketing-text">Some marketing text</div>
<div id="login_section">
	<h2>Login</h2>
	<%= render "login_form" %>
</div>
<div id="registration_section">
	<h2>Register</h2>
	<%= render "register_form" %>
</div>
