<% provide :title, "Purchase order" %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

	<h2>Set info for Purchase Order:(Static)</h2>

  <%= render 'po_input' %>
  <div><label>Contact Email</label><br>
  <input size="30" type="text" value="provided-before@gmail.com"></div>

  <div><%= f.submit "Submit" %></div>
<% end %>
